.git
.github
.gitignore
**/*.md
docker-compose.yml
docker-compose.override.yml
Dockerfile
services
.env
.env.*
.env.example
node_modules
app/node_modules
app/dist
app/build
app/tmp
app/temp
app/.env
*.sqlite
coverage
.cache
